body {
  background-color: #ffffff;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b3cffa;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 30%);
}

.form-input {
  width: 300px;
  min-height: 50px;
  border: none;
  border-radius: 4px;
  padding-left: 15px;
  color: #3f3939;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 30%);
  margin-right: 20px;
  font-size: 20px;
}

.btn {
  width: 200px;
  min-height: 50px;
  font-size: 30px;
  text-align: center;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 30%);
  background-color: #508fec;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.load-more {
 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  min-height: 50px;
  font-size: 30px;
  text-align: center;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 30%);
  background-color: #508fec;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
cursor: pointer;
  
}

.is-hidden{
  display: none;
}



.gallery {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

// .gallery__item {
//   margin: o;
//   position: relative;
//   box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
//     0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
// }

.photo-card {
  box-shadow: 0px 2px 4px rgb(0 0 0 / 30%);
  border-radius: 4px;
  // border: 1px solid rgb(160, 157, 157);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 200px;
}

.info-item {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #3f3939;
}




.loader{
  pointer-events: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff;
animation: an1 1s ease infinite;
}

@keyframes an1{
  0% {
    transform: rotate(0turn);
  }
  100%{
    transform: rotate(1turn);
  }
}